---
title: Eleventy Photo Gallery Template
url: https://eleventy-gallery.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% metagen 
            title=title,
            desc=site.pageMetadata.home.content,
            url=url,
            img=url + img,
            img_alt=alt,
            twitter_card_type=cardType,
            twitterHandle=site.author.twitterHandle,
            name=site.author.firstName + " " + site.author.lastName
        %}
        <meta name="theme-color" content="#fff">
        <meta name="background-color" content="#fff">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        <link rel="manifest" href="/favicon_data/site.webmanifest">
    <meta property="og:title" content="SiTE">
    <meta property="og:description" content="descrip...">
    <meta property="og:image" content="https://res.cloudinary.com/il/image/upload/v1628619844/reyfzfoisvpjxh0imn90.jpg">
    <meta data-rh="true" property="al:ios:app_name" content="Medium" />
    <meta property="article:published_time" content="2020-02-03T23:10:04.654Z">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/reset.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
            <article class="image-grid">
        <main class="main-home">
            <div class="page-banner">
                {{ content | safe}}
            </div>
            <div class="article">
         
                    {% for image in gallery %}
                    <figure class="image-container">
                        <a href="/gallery/{{ image.title | slug }}" aria-label="Gallery image {{ image.title }}">
                            {% respimg 
                                src=image.src,
                                alt=image.alt,
                                inputDir="./src",
                                imgDir=image.imgDir,
                                widths=[320, 480, 640, 1024],
                                sizes="(min-width: 600px) 50vw, (min-width: 800px) 100vw, 33.3vw",
                                className="grid-image",
                                width=640,
                                height=400
                            %}
                        </a>
                 </figure>
                    {% endfor %}
                
            </div>
        </main>
</article>
    </body>
</html>
